<li class="movie-list__item" id="{{id}}">
  <img class="movie-list__poster" src="https://image.tmdb.org/t/p/w500{{poster}}" alt="{{original_title}}"
    data-id="{{id}}" />
  <p class="movie-list__title" data-id="{{id}}">
    {{title}}
  </p>
  <span class="movie-list__icon" data-id="{{id}}">
    {{vote}}
  </span>
</li>