<li class="movie-list__item" id="{{id}}">
  <img class="movie-list__poster" src="https://image.tmdb.org/t/p/w500{{poster}}" alt="{{original_title}}" />
  <p class="movie-list__title">
    {{title}}
  </p>
  <span class="movie-list__icon">
    {{vote}}
  </span>
</li>