<li class="glide__slide similar_movies__item">
    <img 
        class="similar_movies__poster" 
        id="js-similar_movies__item" 
        src="{{pathToPoster}}" height="130" width="250"
        alt="{{title}} poster" 
        data-id="{{id}}"
    >
    <h4 class="similar_movies__title" data-id="{{id}}">{{title}} {{year}}</h4>
</li>