<li class="film-gallery__item">
    <img class="film-gallery__poster" id="js-film-gallery__item" src="{{pathToPoster}}" alt="{{title}} poster" data-id="{{id}}">
    <h2 class="film-gallery__title" data-id="{{id}}">{{title}} {{year}}</h2>
</li>